.container {
    padding: 20px;
    font-family: sans-serif;
}

.controls {
    margin-bottom: 20px;
}

.reset-button {
    background-color: #04aa6d;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #059862;
}

.counter {
    margin-top: 10px;
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 4px;
    width: max-content;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.cell.robot {
    background-color: lightblue;
}

.cell.candy {
    background-color: pink;
}

.icon {
    scale: 2.5;
}

.coord {
    opacity: 10%;
}