.grid-game {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.control-area {
    display: flex;
    gap: 5px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 5px;
    width: max-content;
}

.cell {
    width: 40px;
    height: 40px;
    /* border: 1px solid rgb(0, 0, 0, 0.1); */
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-black {
    background-color: lightgray;
}

.cell-white {
    background-color: white;
}

.icon {
    scale: 1.5;
}

.icon:hover {
    cursor: pointer;
}